{%- comment -%}
This file has been modified by the Yoast SEO for Shopify app.
You can learn more about this (and learn how to cleanly revert these changes) at https://yoa.st/removing-theme-changes.
{%- endcomment -%}
{%- liquid
	assign disabled_by_yoast_seo = true
	if content_for_header contains 'yoast-active-script'
		assign disabled_by_yoast_seo = false
	endif
-%}
<!-- /sections/product.liquid -->

{%- liquid
  assign thumbs_align = section.settings.align
  assign ratio = product.media[0].preview_image.aspect_ratio
  if ratio < 1
    assign thumbs_align = 'center'
  endif
-%}

<div class="product-section {{ section.settings.bg }}"
  data-product-handle="{{ product.handle }}"
  data-section-id="{{ section.id }}"
  data-section-type="product"
  data-enable-video-looping="{{ section.settings.enable_video_looping }}"
  data-thumbs-align="{{ thumbs_align }}"
  {% if product.has_only_default_variant %}data-enable-history-state="false"{% else %}data-enable-history-state="true"{% endif %}
  style="--PT: {{ section.settings.padding_top }}px; --PB: {{ section.settings.padding_bottom }}px;">
  {%- assign current_variant = product.selected_or_first_available_variant -%}

<div class="{{ section.settings.width }} section-padding">
  <div class="product-content">
     {% render 'breadcrumbs' %}
    <div class="grid">
      <div class="grid__item medium-up--hide">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'title' %}
              {% render 'product-title-price', product: product, block: block, section: section, classes: 'product__headline--mobile' %}
          {% endcase %}
        {% endfor %}
      </div>
      
      <div class="grid__item medium-up--one-half grid__item__left">
         
        
          <div class="thumbnails-wrapper">
            {% for media in product.media %}
              <img class="thumbnail-image" src="{{ media.preview_image.src | img_url: '200x200', crop: 'center' }}" alt="{{ media.alt | strip_html | escape }}">
            {% endfor %}
          </div>
          
          <div class="main-image-wrapper">
            {% for media in product.media %}
              <img class="main-image" src="{{ media.preview_image.src | img_url: '900x' }}" alt="{{ media.alt | strip_html | escape }}">
            {% endfor %}
          </div>

          <section class="section-custom_fields"
            data-section-id="{{ section.id }}"
            data-section-type="accordion">
            <div class="section-meta">
              <div class="text__standard" data-accordion-group>          
                <div class="page-accordion">
                    <div class="accordion__wrapper">
                      <button class="accordion__title font--1"
                        data-accordion-trigger="accordion-template--accordion1"
                        aria-controls="accordion-template--accordion1"
                        aria-haspopup="true"
                        aria-expanded="false">
                        {{ product.metafields.custom.accordion_title.value }}
                      </button>
                      <div class="accordion__body rte font--1"
                        data-accordion-body
                        id="accordion-template--accordion1">
                          {{ product.metafields.custom.accordion_detail | metafield_tag }}             
                      </div>
                    </div>
                    <div class="accordion__wrapper">
                      <button class="accordion__title font--1"
                        data-accordion-trigger="accordion-template--accordion2"
                        aria-controls="accordion-template--accordion2"
                        aria-haspopup="true"
                        aria-expanded="false">
                        {{ product.metafields.custom.accordion_title2.value }}
                      </button>
                      <div class="accordion__body rte font--1"
                        data-accordion-body
                        id="accordion-template--accordion2">
                          {{ product.metafields.custom.accordion_detail2 | metafield_tag }}             
                      </div>
                    </div>
                    <div class="accordion__wrapper">
                      <button class="accordion__title font--1"
                        data-accordion-trigger="accordion-template--accordion3"
                        aria-controls="accordion-template--accordion3"
                        aria-haspopup="true"
                        aria-expanded="false">
                        {{ product.metafields.custom.accordion_title3.value }}
                      </button>
                      <div class="accordion__body rte font--1"
                        data-accordion-body
                        id="accordion-template--accordion3">
                          {{ product.metafields.custom.accordion_detail3 | metafield_tag }}             
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </section>
      </div>
       

      <div class="grid__item medium-up--one-half grid__item__right">
        <div class="product__form__wrapper">
          {% for block in section.blocks %}
            {% case block.type %}
              {%- when 'related_products' -%}
                {% if product.metafields.product_info.related_products %}
                  {% assign relatedProducts = product.metafields.product_info.related_products.value %}
                  <!-- check at least one recommended product is available --> 
                  {%- liquid 
                    assign has1product = false
                    for product in relatedProducts
                      if product.available == true
                        assign has1product = true
                      endif
                    endfor
                  -%}
                  {% if has1product %}
                    <p class="related-products-heading" style="font-size: {{block.settings.heading_font_size}}px; color: {{block.settings.heading_color}};">{{ block.settings.heading }}</p>
                    <div class="related-products" id="related-products-{{ block.id }}">
                      {% for product in relatedProducts %}
                        {% if product.available == true %}
                          {% render 'product-grid-item', product: product, grid_strings: grid_strings %}
                          
                          
                        {% endif %}
                      {% endfor %}
                    </div>
                    <style>
                      #related-products-{{ block.id }} {
                        text-align: left;
                        display: flex;
                        flex-wrap: nowrap;
                        justify-content: space-between;
                        gap: 10px;
                      }
                      #related-products-{{ block.id }} .related-product {
                        display: inline-block;
                        width: calc(50% - 0.4rem);
                        margin: 0px 0.4rem 0.8rem 0px;
                        position: relative;
                        border: 1px solid transparent;
                        text-align: left;
                      }
                      #related-products-{{ block.id }} .prdt-grid {height: 500px !important; padding: 0px !important;}
                      #related-products-{{ block.id }} .related-product:last-child {
                        margin-right: 0;
                      }
                      #related-products-{{ block.id }} .related-product__image {
                        width: 100%;
                        max-width: 100%;
                        height: 50%;
                        object-fit: cover;
                      }
                      #related-products-{{ block.id }} .related-product__image:hover {
                        border-color: {{ block.settings.hover_border_color }};
                      }
                    </style>
                  {% endif %}
                {% endif %}
              {%- when '@app' -%}
                {% render block %}
              {% when 'title' %}
                {% render 'product-title-price', product: product, block: block, section: section, classes: 'product__headline--desktop' %}
              {% when 'form' %}
                <div class="product__details">
                  {% render 'product-form', product: product, block: block, section: section %}
                </div>
              {% when 'description' %}
                <div class="product-description rte rte--column accordion-neighbor" {{ block.shopify_attributes }}>
                  {%- assign product_description_content = product.description | strip -%}
                  {%- assign truncate_string = 'products.general.read_more' | t -%}
                  {%- assign truncate_html = '<button type="button" class="p underline" data-truncated-button>' | append: truncate_string | append: '</button>' -%}

                  {%- if block.settings.style == 'none' -%}
                    {% if block.settings.read_more %}
                      <div class="product-description__holder product-description__holder--truncate" data-truncated-holder>
                        <div class="product-description__inner">
                          <div class="product-description__content" data-truncated-content="product-description__content--truncate">
                            {{ product_description_content }}
                          </div>
                        </div>

                        <div class="product-description__actions">
                          {{ truncate_html }}
                        </div>
                      </div>
                    {% else %}
                      {{ product.description }}
                    {% endif %}
                  {% else %}
                    <div class="tabs-wrapper">
                      {% render 'product-tabs', section: section, block: block, product: product, product_description_content: product_description_content, truncate_html: truncate_html %}
                    </div>
                  {%- endif -%}
                </div>
              {% when 'sharing' %}
                {% render 'share' product: product, label: block.settings.share_label, block: block %}
              {% when 'pickup' %}
                <div class="product__pickup accordion-neighbor" data-store-availability-container="{{ current_variant.id }}" {{ block.shopify_attributes }}></div>
              {% when 'text' %}
                <div class="product__subheading product__subheading--rte" {{ block.shopify_attributes }}>
                  {% if block.settings.title != '' %}
                    {{ block.settings.title }}
                  {% endif %}
                </div>
              {% when 'liquid' %}
                <div {{ block.shopify_attributes }}>
                  {{ block.settings.custom_liquid }}
                </div>
              {% when 'upsell' %}
                <div {{ block.shopify_attributes }}>
                  {%- assign upsell_product = all_products[block.settings.product] -%}
                  {% render 'upsell-product' upsell_product: upsell_product, block: block, section: section %}
                </div>
              {% when 'siblings' %}
                {% render 'product-siblings', block: block, product: product %}
              {% when 'icon' %}
                <div class="product__text-with-icon rte" {{ block.shopify_attributes }}>
                  <div class="icon-holder" style="--stroke: {{ block.settings.icon_color }};">
                    {%- render 'icons', filename: block.settings.icon_name -%}
                  </div>

                  <p>{{ block.settings.text | remove: '<p>' | remove: '</p>' }}</p>
                </div>
              {% when 'image' %}
                <div class="product__image {{ block.settings.alignment }}" {{ block.shopify_attributes }}>
                  <div class="product__image__inner" style="max-width: {{ block.settings.image_max_limit | append: 'px' }};">
                    {%- if block.settings.image != blank -%}
                      {%- render 'image-fit' img_object: block.settings.image -%}
                    {%- else -%}
                      {%- render 'image-fill' img_object: '' -%}
                    {%- endif -%}
                  </div>
                </div>
            {% endcase %}
          {% endfor %}
        </div>
      </div>
    </div>

    {%- if section.blocks.size > 0 and section.settings.tabs_position == 'below' -%}
      <div class="tabs-wrapper productTabsWrapper">
        {% render 'product-tabs', section: section, product: product %}
      </div>
    {%- endif -%}
  </div>
</div>

{% if section.settings.zoom_enable %}
  {% render 'zoom-pswp' %}
{% endif %}

<script type="application/json" id="ModelJson-{{ section.id }}">
  {{ product.media | where: 'media_type', 'model' | json }}
</script>


</div>

{%- assign current_variant = product.selected_or_first_available_variant -%}

{% comment %} Google wants to know when to check your price again {% endcomment %}
{%- assign days_price_is_valid = 1 -%}
{%- assign seconds_in_a_day = 86400 -%}
{%- assign seconds_price_valid = days_price_is_valid | times: seconds_in_a_day -%}

{%- comment -%}Yoast SEO schema control block: start.{%- endcomment -%}
{%- assign yoast_seo_settings = shop.metafields.yoast_seo.settings.value | default: shop.metafields.yoast_seo.settings -%}
{%- if disabled_by_yoast_seo or yoast_seo_settings.schema.useTheme.schema or yoast_seo_settings.schema.useTheme.product -%}
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": {{ product.title | json }},
  "url": {{ shop.url | append: product.url | json }},
  {%- if product.featured_media.preview_image -%}
    {%- assign image_size = product.featured_media.preview_image.width | append: 'x' -%}
    "image": [
      {{ product.featured_media.preview_image | img_url: image_size | prepend: "https:" | json }}
    ],
  {%- endif -%}
  "description": {{ product.description | strip_html | json }},
  "sku": {{ current_variant.sku | json }},
  "category": {{ product.type | json }},
  {%- if product.metafields.reviews.rating.value != blank -%}
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "{{ product.metafields.reviews.rating.value }}",
      "ratingCount": "{{ product.metafields.reviews.rating_count.value }}",
      "bestRating": "{{ product.metafields.reviews.rating.value.scale_max }}",
      "worstRating": "{{ product.metafields.reviews.rating.value.scale_min }}"
    },
  {%- endif -%}
  "brand": {
    "@type": "Organization",
    "name": {{ product.vendor | default: shop.name | json }}
  },
  "offers": [
    {%- for variant in product.variants -%}
      {
        "@type" : "Offer",
        {%- if variant.sku != blank -%}
          "sku": {{ variant.sku | json }},
        {%- endif -%}
        "availability" : "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
        "price" : {{ variant.price | divided_by: 100.00 | json }},
        "priceCurrency" : {{ cart.currency.iso_code | json }},
        "priceValidUntil": "{{ 'now' | date: '%s' | plus: seconds_price_valid | date: '%Y-%m-%d' }}",
        "url" : {{ shop.url | append: variant.url | json }}
      }{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  ]
}
{%- comment -%}Yoast SEO schema control block: end.{%- endcomment -%}
</script>
{%- endif -%}


{% schema %}
{
  "name": "Product page",
  "settings": [
    {
      "type": "select",
      "id": "bg",
      "label": "Background color",
      "default": "palette--light bg--neutral",
      "options": [
        { "value": "palette--light bg--neutral", "label": "Default"},
        { "value": "palette--light bg--accent", "label": "Light"},
        { "value": "palette--dark bg--invert", "label": "Dark"},
        { "value": "palette--dark bg--invert--accent", "label": "Dark accent"}
      ]
    },
    {
      "type": "header",
      "content": "Media",
      "info": "Learn more about [media types](https://help.shopify.com/manual/products/product-media)"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "Enable video looping",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "zoom_enable",
      "label": "Enable image zoom",
      "default": true
    },
    {
      "type": "header",
      "content": "Section spacing"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "wrapper",
      "options": [
        { "value": "wrapper--full", "label": "Full width padded" },
        { "value": "wrapper", "label": "Page width" },
        { "value": "wrapper--narrow", "label": "Page width narrow" }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Padding top",
      "default": 64
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 64
    }
  ],
  "blocks": [
    {
  "type": "related_products",
  "name": "⚡️ Related Products",
  "settings": [
    {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Related Products"
        },
    	{
          "type": "number",
          "id": "heading_font_size",
          "label": "Heading font size (px)",
          "default": 18
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Heading color",
          "default": "#121212"
        },
        {
          "type": "color",
          "id": "hover_border_color",
          "label": "Border color (hover)",
          "default": "#121212",
          "info": "Make color field blank (transparent) if you don't want a border"
        }
      ]
    },
    {
      "type": "@app"
    },
    {
      "type": "form",
      "name": "Form",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "variant_form",
          "label": "Variant option style",
          "default": "auto",
          "options": [
             { "value": "auto", "label": "Auto" },
             { "value": "button", "label": "Buttons" },
             { "value": "dropdown", "label": "Dropdown" }
          ]
        },
        {
          "type": "checkbox",
          "id": "show_quantity",
          "label": "Show quantity selection",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_remaining",
          "label": "Show inventory countdown",
          "default": true,
          "info": "Count down the last 10 items in stock."
        },
        {
          "type": "checkbox",
          "id": "enable_payment_button",
          "label": "Show dynamic checkout button",
          "info": "Lets customers check out directly using a familiar payment method. [Learn More](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "default": true
        },
        {
          "type": "header",
          "content": "Subscriptions",
          "info": "Learn more about [subscriptions](https://help.shopify.com/en/manual/products/subscriptions)"
        },
        {
          "type": "checkbox",
          "id": "subscriptions_enable_selectors",
          "label": "Enable subscription selectors",
          "info": "Shown on products with subscription options",
          "default": true
        },
        {
          "type": "header",
          "content": "Size popup"
        },
        {
          "id": "info_page",
          "type": "page",
          "label": "Select page",
          "info": "This popup will show on every product."
        }
      ]
    },
    {
      "type": "description",
      "name": "Product description",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "read_more",
          "label": "Enable read more",
          "default": true,
          "info": "Show the first few lines of the product description with an option to read more"
        },
        {
          "type": "select",
          "id": "style",
          "label": "Tab style",
          "default": "accordions",
          "options": [
            { "value": "none", "label": "None" },
            { "value": "tabs", "label": "Tabs" },
            { "value": "accordions", "label": "Accordions" }
          ],
          "info": "Add tab content below. Lean more about [product tabs](https://groupthought.com/link/story/docs/tabs)"
        },
        {
          "type": "select",
          "id": "description_icon",
          "label": "Description icon",
          "default": "",
          "options": [
            { "value": "", "label": "No icon" },
            { "value": "icon-animal", "label": "Animal" },
            { "value": "icon-animal-paw", "label": "Animal paw" },
            { "value": "icon-award", "label": "Award" },
            { "value": "icon-basket-like", "label": "Basket like" },
            { "value": "icon-basket-return", "label": "Basket return" },
            { "value": "icon-cart-check", "label": "Cart check" },
            { "value": "icon-cart-message", "label": "Cart message" },
            { "value": "icon-chat", "label": "Chat" },
            { "value": "icon-dollar", "label": "Dollar" },
            { "value": "icon-earth", "label": "Earth" },
            { "value": "icon-email", "label": "Email" },
            { "value": "icon-gluten-free", "label": "Gluten free" },
            { "value": "icon-iron", "label": "Iron" },
            { "value": "icon-leaf", "label": "Leaf" },
            { "value": "icon-legal", "label": "Legal" },
            { "value": "icon-lock-card", "label": "Lock card" },
            { "value": "icon-lock-shield", "label": "Lock shield" },
            { "value": "icon-lock-window", "label": "Lock window" },
            { "value": "icon-payment", "label": "Payment" },
            { "value": "icon-phone", "label": "Phone" },
            { "value": "icon-rating", "label": "Rating" },
            { "value": "icon-star-rating", "label": "Rating star" },
            { "value": "icon-recycled", "label": "Recycled" },
            { "value": "icon-ruler", "label": "Ruler" },
            { "value": "icon-send", "label": "Send" },
            { "value": "icon-sewing-machine", "label": "Sewing machine" },
            { "value": "icon-share", "label": "Share" },
            { "value": "icon-shipment-world", "label": "Shipment world" },
            { "value": "icon-shipment", "label": "Shipment" },
            { "value": "icon-shoes", "label": "Shoes" },
            { "value": "icon-store", "label": "Store" },
            { "value": "icon-support-headphones", "label": "Support headphones" },
            { "value": "icon-thread", "label": "Thread" },
            { "value": "icon-truck", "label": "Truck" },
            { "value": "icon-washer", "label": "Washer" },
            { "value": "icon-water", "label": "Water" }
          ]
        },
        {
          "type": "text",
          "id": "title_1",
          "label": "Tab heading",
          "default": "Information"
        },
        {
          "type": "select",
          "id": "icon_name_1",
          "label": "Icon",
          "default": "",
          "options": [
            { "value": "", "label": "No icon" },
            { "value": "icon-animal", "label": "Animal" },
            { "value": "icon-animal-paw", "label": "Animal paw" },
            { "value": "icon-award", "label": "Award" },
            { "value": "icon-basket-like", "label": "Basket like" },
            { "value": "icon-basket-return", "label": "Basket return" },
            { "value": "icon-cart-check", "label": "Cart check" },
            { "value": "icon-cart-message", "label": "Cart message" },
            { "value": "icon-chat", "label": "Chat" },
            { "value": "icon-dollar", "label": "Dollar" },
            { "value": "icon-earth", "label": "Earth" },
            { "value": "icon-email", "label": "Email" },
            { "value": "icon-gluten-free", "label": "Gluten free" },
            { "value": "icon-iron", "label": "Iron" },
            { "value": "icon-leaf", "label": "Leaf" },
            { "value": "icon-legal", "label": "Legal" },
            { "value": "icon-lock-card", "label": "Lock card" },
            { "value": "icon-lock-shield", "label": "Lock shield" },
            { "value": "icon-lock-window", "label": "Lock window" },
            { "value": "icon-payment", "label": "Payment" },
            { "value": "icon-phone", "label": "Phone" },
            { "value": "icon-rating", "label": "Rating" },
            { "value": "icon-star-rating", "label": "Rating star" },
            { "value": "icon-recycled", "label": "Recycled" },
            { "value": "icon-ruler", "label": "Ruler" },
            { "value": "icon-send", "label": "Send" },
            { "value": "icon-sewing-machine", "label": "Sewing machine" },
            { "value": "icon-share", "label": "Share" },
            { "value": "icon-shipment-world", "label": "Shipment world" },
            { "value": "icon-shipment", "label": "Shipment" },
            { "value": "icon-shoes", "label": "Shoes" },
            { "value": "icon-store", "label": "Store" },
            { "value": "icon-support-headphones", "label": "Support headphones" },
            { "value": "icon-thread", "label": "Thread" },
            { "value": "icon-truck", "label": "Truck" },
            { "value": "icon-washer", "label": "Washer" },
            { "value": "icon-water", "label": "Water" }
          ]
        },
        {
          "type": "richtext",
          "id": "raw_content_1",
          "label": "Tab text",
          "default": "<p>This content type will accept <strong>rich text</strong> to help with adding styles and links to additional pages or content. Use this to add supplementary information to help your buyers.</p>"
        },
        {
          "type": "text",
          "id": "title_2",
          "label": "Tab heading",
          "default": "Details"
        },
        {
          "type": "select",
          "id": "icon_name_2",
          "label": "Icon",
          "default": "",
          "options": [
            { "value": "", "label": "No icon" },
            { "value": "icon-animal", "label": "Animal" },
            { "value": "icon-animal-paw", "label": "Animal paw" },
            { "value": "icon-award", "label": "Award" },
            { "value": "icon-basket-like", "label": "Basket like" },
            { "value": "icon-basket-return", "label": "Basket return" },
            { "value": "icon-cart-check", "label": "Cart check" },
            { "value": "icon-cart-message", "label": "Cart message" },
            { "value": "icon-chat", "label": "Chat" },
            { "value": "icon-dollar", "label": "Dollar" },
            { "value": "icon-earth", "label": "Earth" },
            { "value": "icon-email", "label": "Email" },
            { "value": "icon-gluten-free", "label": "Gluten free" },
            { "value": "icon-iron", "label": "Iron" },
            { "value": "icon-leaf", "label": "Leaf" },
            { "value": "icon-legal", "label": "Legal" },
            { "value": "icon-lock-card", "label": "Lock card" },
            { "value": "icon-lock-shield", "label": "Lock shield" },
            { "value": "icon-lock-window", "label": "Lock window" },
            { "value": "icon-payment", "label": "Payment" },
            { "value": "icon-phone", "label": "Phone" },
            { "value": "icon-rating", "label": "Rating" },
            { "value": "icon-star-rating", "label": "Rating star" },
            { "value": "icon-recycled", "label": "Recycled" },
            { "value": "icon-ruler", "label": "Ruler" },
            { "value": "icon-send", "label": "Send" },
            { "value": "icon-sewing-machine", "label": "Sewing machine" },
            { "value": "icon-share", "label": "Share" },
            { "value": "icon-shipment-world", "label": "Shipment world" },
            { "value": "icon-shipment", "label": "Shipment" },
            { "value": "icon-shoes", "label": "Shoes" },
            { "value": "icon-store", "label": "Store" },
            { "value": "icon-support-headphones", "label": "Support headphones" },
            { "value": "icon-thread", "label": "Thread" },
            { "value": "icon-truck", "label": "Truck" },
            { "value": "icon-washer", "label": "Washer" },
            { "value": "icon-water", "label": "Water" }
          ]
        },
        {
          "type": "richtext",
          "id": "raw_content_2",
          "label": "Tab text",
          "default": "<p>You can use product metafields to assign content to this tab that is unique to an individual product.  Use tabs to highlight unique features, sizing information, or other sales information.</p>"
        },
        {
          "type": "text",
          "id": "title_3",
          "label": "Tab heading"
        },
        {
          "type": "select",
          "id": "icon_name_3",
          "label": "Icon",
          "default": "",
          "options": [
            { "value": "", "label": "No icon" },
            { "value": "icon-animal", "label": "Animal" },
            { "value": "icon-animal-paw", "label": "Animal paw" },
            { "value": "icon-award", "label": "Award" },
            { "value": "icon-basket-like", "label": "Basket like" },
            { "value": "icon-basket-return", "label": "Basket return" },
            { "value": "icon-cart-check", "label": "Cart check" },
            { "value": "icon-cart-message", "label": "Cart message" },
            { "value": "icon-chat", "label": "Chat" },
            { "value": "icon-dollar", "label": "Dollar" },
            { "value": "icon-earth", "label": "Earth" },
            { "value": "icon-email", "label": "Email" },
            { "value": "icon-gluten-free", "label": "Gluten free" },
            { "value": "icon-iron", "label": "Iron" },
            { "value": "icon-leaf", "label": "Leaf" },
            { "value": "icon-legal", "label": "Legal" },
            { "value": "icon-lock-card", "label": "Lock card" },
            { "value": "icon-lock-shield", "label": "Lock shield" },
            { "value": "icon-lock-window", "label": "Lock window" },
            { "value": "icon-payment", "label": "Payment" },
            { "value": "icon-phone", "label": "Phone" },
            { "value": "icon-rating", "label": "Rating" },
            { "value": "icon-star-rating", "label": "Rating star" },
            { "value": "icon-recycled", "label": "Recycled" },
            { "value": "icon-ruler", "label": "Ruler" },
            { "value": "icon-send", "label": "Send" },
            { "value": "icon-sewing-machine", "label": "Sewing machine" },
            { "value": "icon-share", "label": "Share" },
            { "value": "icon-shipment-world", "label": "Shipment world" },
            { "value": "icon-shipment", "label": "Shipment" },
            { "value": "icon-shoes", "label": "Shoes" },
            { "value": "icon-store", "label": "Store" },
            { "value": "icon-support-headphones", "label": "Support headphones" },
            { "value": "icon-thread", "label": "Thread" },
            { "value": "icon-truck", "label": "Truck" },
            { "value": "icon-washer", "label": "Washer" },
            { "value": "icon-water", "label": "Water" }
          ]
        },
        {
          "type": "richtext",
          "id": "raw_content_3",
          "label": "Tab text"
        },
        {
          "type": "text",
          "id": "title_4",
          "label": "Tab heading"
        },
        {
          "type": "select",
          "id": "icon_name_4",
          "label": "Icon",
          "default": "",
          "options": [
            { "value": "", "label": "No icon" },
            { "value": "icon-animal", "label": "Animal" },
            { "value": "icon-animal-paw", "label": "Animal paw" },
            { "value": "icon-award", "label": "Award" },
            { "value": "icon-basket-like", "label": "Basket like" },
            { "value": "icon-basket-return", "label": "Basket return" },
            { "value": "icon-cart-check", "label": "Cart check" },
            { "value": "icon-cart-message", "label": "Cart message" },
            { "value": "icon-chat", "label": "Chat" },
            { "value": "icon-dollar", "label": "Dollar" },
            { "value": "icon-earth", "label": "Earth" },
            { "value": "icon-email", "label": "Email" },
            { "value": "icon-gluten-free", "label": "Gluten free" },
            { "value": "icon-iron", "label": "Iron" },
            { "value": "icon-leaf", "label": "Leaf" },
            { "value": "icon-legal", "label": "Legal" },
            { "value": "icon-lock-card", "label": "Lock card" },
            { "value": "icon-lock-shield", "label": "Lock shield" },
            { "value": "icon-lock-window", "label": "Lock window" },
            { "value": "icon-payment", "label": "Payment" },
            { "value": "icon-phone", "label": "Phone" },
            { "value": "icon-rating", "label": "Rating" },
            { "value": "icon-star-rating", "label": "Rating star" },
            { "value": "icon-recycled", "label": "Recycled" },
            { "value": "icon-ruler", "label": "Ruler" },
            { "value": "icon-send", "label": "Send" },
            { "value": "icon-sewing-machine", "label": "Sewing machine" },
            { "value": "icon-share", "label": "Share" },
            { "value": "icon-shipment-world", "label": "Shipment world" },
            { "value": "icon-shipment", "label": "Shipment" },
            { "value": "icon-shoes", "label": "Shoes" },
            { "value": "icon-store", "label": "Store" },
            { "value": "icon-support-headphones", "label": "Support headphones" },
            { "value": "icon-thread", "label": "Thread" },
            { "value": "icon-truck", "label": "Truck" },
            { "value": "icon-washer", "label": "Washer" },
            { "value": "icon-water", "label": "Water" }
          ]
        },
        {
          "type": "richtext",
          "id": "raw_content_4",
          "label": "Tab text"
        },
        {
          "type": "text",
          "id": "title_5",
          "label": "Tab heading"
        },
        {
          "type": "select",
          "id": "icon_name_5",
          "label": "Icon",
          "default": "",
          "options": [
            { "value": "", "label": "No icon" },
            { "value": "icon-animal", "label": "Animal" },
            { "value": "icon-animal-paw", "label": "Animal paw" },
            { "value": "icon-award", "label": "Award" },
            { "value": "icon-basket-like", "label": "Basket like" },
            { "value": "icon-basket-return", "label": "Basket return" },
            { "value": "icon-cart-check", "label": "Cart check" },
            { "value": "icon-cart-message", "label": "Cart message" },
            { "value": "icon-chat", "label": "Chat" },
            { "value": "icon-dollar", "label": "Dollar" },
            { "value": "icon-earth", "label": "Earth" },
            { "value": "icon-email", "label": "Email" },
            { "value": "icon-gluten-free", "label": "Gluten free" },
            { "value": "icon-iron", "label": "Iron" },
            { "value": "icon-leaf", "label": "Leaf" },
            { "value": "icon-legal", "label": "Legal" },
            { "value": "icon-lock-card", "label": "Lock card" },
            { "value": "icon-lock-shield", "label": "Lock shield" },
            { "value": "icon-lock-window", "label": "Lock window" },
            { "value": "icon-payment", "label": "Payment" },
            { "value": "icon-phone", "label": "Phone" },
            { "value": "icon-rating", "label": "Rating" },
            { "value": "icon-star-rating", "label": "Rating star" },
            { "value": "icon-recycled", "label": "Recycled" },
            { "value": "icon-ruler", "label": "Ruler" },
            { "value": "icon-send", "label": "Send" },
            { "value": "icon-sewing-machine", "label": "Sewing machine" },
            { "value": "icon-share", "label": "Share" },
            { "value": "icon-shipment-world", "label": "Shipment world" },
            { "value": "icon-shipment", "label": "Shipment" },
            { "value": "icon-shoes", "label": "Shoes" },
            { "value": "icon-store", "label": "Store" },
            { "value": "icon-support-headphones", "label": "Support headphones" },
            { "value": "icon-thread", "label": "Thread" },
            { "value": "icon-truck", "label": "Truck" },
            { "value": "icon-washer", "label": "Washer" },
            { "value": "icon-water", "label": "Water" }
          ]
        },
        {
          "type": "richtext",
          "id": "raw_content_5",
          "label": "Tab text"
        }
      ]
    },
    {
      "type": "upsell",
      "name": "Upsell",
      "limit": 1,
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "paragraph",
          "content": "Upsell is best as a one-click add to cart, so upsell products should have no variants.  Upsell products with variants will open a quick-view window. [Learn more](https://groupthought.com/link/story/docs/upsell/variant)"
        },
        {
          "type": "header",
          "content": "Upsell in cart"
        },
        {
          "type": "paragraph",
          "content": "Use a dynamic source with the metafield name 'theme.upsell' to allow product upsells to follow users into the cart. Use any other name to limit this feature to the product page. [Learn more](https://groupthought.com/link/story/docs/upsell/cart)"
        }
      ]
    },
    {
      "type": "siblings",
      "name": "Siblings",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Siblings allow you to split colors into separate products. [Learn more](https://groupthought.com/link/story/docs/siblings)"
        },
        {
          "type": "text",
          "id": "siblings_collection",
          "label": "Product siblings collection handle",
          "info": "Use a metafield containing a collection handle for color siblings.  The collection should contain all color options as unique products."
        },
        {
          "type": "text",
          "id": "cutline",
          "label": "Product color metafield",
          "info": "Use a single line text metafield called 'theme.cutline' for product color."
        }
      ]
    },
    {
      "type": "sharing",
      "name": "Sharing",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "Text",
          "default": "Share"
        },
        {
          "type": "paragraph",
          "content": "If you include a link in social media posts, the page’s featured image will be shown as the preview image. [Learn more](https://help.shopify.com/en/manual/online-store/images/showing-social-media-thumbnail-images)."
        },
        {
          "type": "paragraph",
          "content": "A store title and description are included with the preview image. [Learn more](https://help.shopify.com/en/manual/promoting-marketing/seo/adding-keywords#set-a-title-and-description-for-your-online-store)."
        }
      ]
    },
    {
      "type": "pickup",
      "name": "Local pickup",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Show customers where they can pick up the product. [Learn more](https://help.shopify.com/en/manual/shipping/setting-up-and-managing-your-shipping/local-methods/local-pickup#show-pickup-availability-to-your-customers)"
        }
      ]
    },
    {
      "type": "title",
      "name": "Title and price",
      "limit": 1,
      "settings": [
        {
          "type":  "range",
          "id":    "text_size",
          "label": "Text size",
          "min":    1,
          "max":    15,
          "step":   1,
          "default":7
        },
        {
          "type": "checkbox",
          "id": "product_show_vendor",
          "label": "Show vendor",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "product_show_cutline",
          "label": "Show cutline",
          "default": true
        },
        {
          "type": "header",
          "content": "Star rating",
          "info": "Requires a product review app like [Shopify Product Reviews](https://apps.shopify.com/product-reviews) to create [standard metafields](https://shopify.dev/apps/metafields/definitions/standard-definitions) for star ratings."
        },
        {
          "type": "checkbox",
          "id": "show_rating",
          "label": "Enable star rating",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_rating_count",
          "label": "Show rating count",
          "default": false
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "title",
          "label": "Text"
        }
      ]
    },
    {
      "type": "liquid",
      "name": "Liquid",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "Custom Liquid",
          "info": "Add app snippets or other Liquid code to create advanced customizations."
        }
      ]
    },
    {
      "type": "icon",
      "name": "Icon",
      "settings": [
        {
          "type": "select",
          "id": "icon_name",
          "label": "Icon",
          "default": "icon-award",
          "options": [
            { "value": "icon-animal", "label": "Animal" },
            { "value": "icon-animal-paw", "label": "Animal paw" },
            { "value": "icon-award", "label": "Award" },
            { "value": "icon-basket-like", "label": "Basket like" },
            { "value": "icon-basket-return", "label": "Basket return" },
            { "value": "icon-cart-check", "label": "Cart check" },
            { "value": "icon-cart-message", "label": "Cart message" },
            { "value": "icon-chat", "label": "Chat" },
            { "value": "icon-dollar", "label": "Dollar" },
            { "value": "icon-earth", "label": "Earth" },
            { "value": "icon-email", "label": "Email" },
            { "value": "icon-gluten-free", "label": "Gluten free" },
            { "value": "icon-iron", "label": "Iron" },
            { "value": "icon-leaf", "label": "Leaf" },
            { "value": "icon-legal", "label": "Legal" },
            { "value": "icon-lock-card", "label": "Lock card" },
            { "value": "icon-lock-shield", "label": "Lock shield" },
            { "value": "icon-lock-window", "label": "Lock window" },
            { "value": "icon-payment", "label": "Payment" },
            { "value": "icon-phone", "label": "Phone" },
            { "value": "icon-rating", "label": "Rating" },
            { "value": "icon-star-rating", "label": "Rating star" },
            { "value": "icon-recycled", "label": "Recycled" },
            { "value": "icon-ruler", "label": "Ruler" },
            { "value": "icon-send", "label": "Send" },
            { "value": "icon-sewing-machine", "label": "Sewing machine" },
            { "value": "icon-share", "label": "Share" },
            { "value": "icon-shipment-world", "label": "Shipment world" },
            { "value": "icon-shipment", "label": "Shipment" },
            { "value": "icon-shoes", "label": "Shoes" },
            { "value": "icon-store", "label": "Store" },
            { "value": "icon-support-headphones", "label": "Support headphones" },
            { "value": "icon-thread", "label": "Thread" },
            { "value": "icon-truck", "label": "Truck" },
            { "value": "icon-washer", "label": "Washer" },
            { "value": "icon-water", "label": "Water" }
          ]
        },
        {
          "type": "color",
          "id": "icon_color",
          "label": "Icon color",
          "default": "#4F8BF2"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Icon text</p>"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type":    "range",
          "id":      "image_max_limit",
          "min":     5,
          "max":     500,
          "step":    5,
          "unit":    "px",
          "label":   "Width",
          "default": 120
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Alignment",
          "options": [
            { "value": "product__image--left", "label": "Left" },
            { "value": "product__image--center", "label": "Center" },
            { "value": "product__image--right", "label": "Right" }
          ],
          "default": "product__image--left"
        }
      ]
    }
  ]
}

{% endschema %}
